<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="javascript:void(0);" class="navbar-brand">NYT Mongo Scraper</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <button class="btn btn-primary" id="scrape" data-toggle="modal" data-target="#alertModal">Get New Articles</button>
          </a>
        </li>
        <li>
          <a href="/articles/viewSaved">
            <button class="btn btn-info" id="viewSaved">View Saved Articles</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<br>
<br> {{#each articles}} {{#unless saved}}
<div class="panel">
  <div class="panel-body">
    <div class="well">
      <a href="{{storyUrl}}" class="pull-right" target="_blank">
        <div class="imgBox">
          <img src="{{imgUrl}}" alt="" class="storyImg" height="150">
        </div>
      </a>
      {{#if storyUrl}}
      <a href="{{storyUrl}}" class="storyLink" target="_blank">
        <h2 class="storyHeadline">{{headline}}</h2>
      </a>
      {{else}}
      <h3 class="storyHeadline">{{headline}}</h3>
      {{/if}}
      <h5 class="storyByline">{{byLine}}</h5>
      <h6 class="storySummary">{{summary}}</h6>
      <button class="btn btn-success" id="saveArticle" data-id="{{_id}}">Save Article</button>
    </div>
  </div>
</div>

{{/unless}} {{/each}}
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <h2>You have scraped
          <span id="numArticles"></span> new articles</h2>
      </div>
    </div>
  </div>
</div>

<div id="error" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h2>There was an error processing your request. Please try again later.</h2>
      </div>
    </div>
  </div>
</div>